<h2><%= @candidate.first_name %>
<%= @candidate.last_name %>
</h2>
<h3><%= @candidate.party %></h3>
<h4>
<%= @candidate.jurisdiction %>
</h4>
<p>
  This candidate is
  <%= "not" unless @candidate.incumbent %>
  an incumbent.
</p>
<h3>Issue Profile</h3>
<ul>
  <% @candidate.issues.each do |issue| %>
    <li><%= "Election Cycle: #{issue.election_cycle}" %></li>
    <li><%= "Immigration: #{issue.immigration}" %></li>
    <li><%= "Net Neutrality: #{issue.net_neutrality}" %></li>
    <li><%= "Climate Change: #{issue.climate_change}" %></li>
    <li><%= "Gun Control:  #{issue.gun_control}" %></li>
    <li><%= "Intellectual Property: #{issue.intellectual_property}" %></li>
    <li><%= "Marijuana #{issue.marijuana}" %></li>
  <% end %>
  <% if @candidate.issues.size ==0 %>
    <li><%= "No Issue Profile on Record" %></li>
  <% end %>
</ul>

<p> <ul><%= button_to "Edit Candidate", edit_candidate_path(@candidate), :method => :get %></ul>
  <% if @candidate.issues.size ==0 %>
  <ul>  <%= button_to "Add Issue Profile", new_candidate_issue_path(@candidate), :method => :get %></ul>
  <% else %>
  <ul>  <%= button_to "View Issue Profile", candidate_issues_path(@candidate), :method => :get %></ul>
  <% end %>


<ul><%= button_to "View Other Candidates", candidates_path, :method => :get %></ul>
<ul><%= button_to "Delete Candidate", candidate_path(@candidate), :method => :delete %></ul>
</p>
